@import "./reset.css";

.grid{
    display:grid;
    gap:10px;
    /* grid-template-columns: repeat(4, 200px); */
    grid-template-columns: [first-line] 100px [second-line] 100px [third-line] 100px [fourth-line] 100px [fifth-line];
    grid-template-rows: repeat(4, 100px [sexy-line]);
}

.header{
    background-color: #2ecc71;
    /* grid-column-start: 1;
    grid-column-end: 5; */
    
    /* grid-column: 1 / 5; */
    /* grid-column: 1 / -1; */
    grid-column: span 4;
}

.content{
    background-color: #3498db;

    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1/4; */
    grid-column: first-line/fourth-line;
    /* grid-column: span 3; */


    /* grid-row-start: 2;
    grid-row-end: 4; */
    /* grid-row: 2/4; */

    /* grid-row: 2/span 2; */
    grid-row: sexy-line 1 / sexy-line 3;

}

.nav{
    background-color: #8e44ad;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    /* grid-row:2/4; */
    
    /* grid-row: 2 / span 2; */
    grid-row: span 2;
}

.footer{
    background-color:sandybrown;
    /* grid-column-start: 1;
    grid-column-end: 5; */

    /* grid-column: 1/5; */
    /* grid-column: 1/-1; */
    grid-column: span 4;
}