@import "_variables.scss";
@import "_mixins.scss";
@import "_buttons.scss";

body {
  background: $bg;
  a {
    color: blue;
    font-size: $title;
  }

}

.box{
  h2{
    color:#fff;
  }

  button{
    @include link('odd');
    &:hover{
      background:green;
    }
  }
}

button{
  @include link('ddd');
}

span{
  @extend %buttons;
}

.mc{

  background-color: orange;
  width:100%;
  height:300px;

  @include responsive("iphone"){
    color:orangered;
  }
  @include responsive("ipad"){
    color:blue;
  }
  @include responsive("tv"){
    color:purple;
  }
  @include responsive("tv-l"){
    color:seagreen;
  }

}
